<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>水瓶座</key>
	<dict>
		<key>order</key>
		<string>1</string>
		<key>Icon</key>
		<string>Aquarius</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shuiping</string>
		<key>Title</key>
		<string>水瓶座</string>
		<key>TimeSpan</key>
		<string>1/21-2/19</string>
	</dict>
	<key>双鱼座</key>
	<dict>
		<key>order</key>
		<string>2</string>
		<key>Icon</key>
		<string>Pisces</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shuangyu</string>
		<key>Title</key>
		<string>双鱼座</string>
		<key>TimeSpan</key>
		<string>2/20-3/20</string>
	</dict>
	<key>白羊座</key>
	<dict>
		<key>order</key>
		<string>3</string>
		<key>Icon</key>
		<string>Aries</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=baiyang</string>
		<key>Title</key>
		<string>白羊座</string>
		<key>TimeSpan</key>
		<string>3/21-4/20</string>
	</dict>
	<key>金牛座</key>
	<dict>
		<key>order</key>
		<string>4</string>
		<key>Icon</key>
		<string>Taurus</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=jinniu</string>
		<key>Title</key>
		<string>金牛座</string>
		<key>TimeSpan</key>
		<string>4/21-5/21</string>
	</dict>
	<key>双子座</key>
	<dict>
		<key>order</key>
		<string>5</string>
		<key>Icon</key>
		<string>Gemini</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shuangzi</string>
		<key>Title</key>
		<string>双子座</string>
		<key>TimeSpan</key>
		<string>5/22-6/21</string>
	</dict>
	<key>巨蟹座</key>
	<dict>
		<key>order</key>
		<string>6</string>
		<key>Icon</key>
		<string>Cancer</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=juxie</string>
		<key>Title</key>
		<string>巨蟹座</string>
		<key>TimeSpan</key>
		<string>6/22-7/23</string>
	</dict>
	<key>狮子座</key>
	<dict>
		<key>order</key>
		<string>7</string>
		<key>Icon</key>
		<string>Leo</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shizi</string>
		<key>Title</key>
		<string>狮子座</string>
		<key>TimeSpan</key>
		<string>7/24-8/23</string>
	</dict>
	<key>处女座</key>
	<dict>
		<key>order</key>
		<string>8</string>
		<key>Icon</key>
		<string>Virgo</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=chunv</string>
		<key>Title</key>
		<string>处女座</string>
		<key>TimeSpan</key>
		<string>8/24-9/23</string>
	</dict>
	<key>天秤座</key>
	<dict>
		<key>order</key>
		<string>9</string>
		<key>Icon</key>
		<string>Libra</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=tiancheng</string>
		<key>Title</key>
		<string>天秤座</string>
		<key>TimeSpan</key>
		<string>9/24-10/23</string>
	</dict>
	<key>天蝎座</key>
	<dict>
		<key>order</key>
		<string>10</string>
		<key>Icon</key>
		<string>Scorpio</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=tianxie</string>
		<key>Title</key>
		<string>天蝎座</string>
		<key>TimeSpan</key>
		<string>10/24-11/22</string>
	</dict>
	<key>射手座</key>
	<dict>
		<key>order</key>
		<string>11</string>
		<key>Icon</key>
		<string>Sagittarius</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=sheshou</string>
		<key>Title</key>
		<string>射手座</string>
		<key>TimeSpan</key>
		<string>11/23-12/22</string>
	</dict>
	<key>摩羯座</key>
	<dict>
		<key>order</key>
		<string>12</string>
		<key>Icon</key>
		<string>Capricorn</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=mojie</string>
		<key>Title</key>
		<string>摩羯座</string>
		<key>TimeSpan</key>
		<string>12/23-1/22</string>
	</dict>
</dict>
</plist>
