<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>血型物语</key>
	<dict>
		<key>order</key>
		<string>8</string>
		<key>Icon</key>
		<string>Aquarius</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=xuexingwuyu</string>
		<key>Title</key>
		<string>血型物语</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>十二生肖</key>
	<dict>
		<key>order</key>
		<string>7</string>
		<key>Icon</key>
		<string>Aquarius</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shiershengxiao</string>
		<key>Title</key>
		<string>十二生肖</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>佛学禅语</key>
	<dict>
		<key>order</key>
		<string>6</string>
		<key>Icon</key>
		<string>Aquarius</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=foxuechanyu</string>
		<key>Title</key>
		<string>佛学禅语</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>腾讯星座</key>
	<dict>
		<key>order</key>
		<string>5</string>
		<key>Icon</key>
		<string>Aquarius</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=tencentxingzuo</string>
		<key>Title</key>
		<string>腾讯星座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>风水玄学</key>
	<dict>
		<key>order</key>
		<string>4</string>
		<key>Icon</key>
		<string>Aquarius</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=fengshuixuanxue</string>
		<key>Title</key>
		<string>风水玄学</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>测试控</key>
	<dict>
		<key>order</key>
		<string>3</string>
		<key>Icon</key>
		<string>Aquarius</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=ceshikong</string>
		<key>Title</key>
		<string>测试控</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>ELLE星座</key>
	<dict>
		<key>order</key>
		<string>1</string>
		<key>Icon</key>
		<string>Aquarius</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=elle</string>
		<key>Title</key>
		<string>ELLE星座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>星座运程</key>
	<dict>
		<key>order</key>
		<string>2</string>
		<key>Icon</key>
		<string>Aquarius</string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=xingzuoyuncheng</string>
		<key>Title</key>
		<string>星座运程</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
</dict>
</plist>
