<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>双子座</key>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shuangzi</string>
		<key>Title</key>
		<string>双子座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>巨蟹座</key>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=juxie</string>
		<key>Title</key>
		<string>巨蟹座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>狮子座</key>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shizi</string>
		<key>Title</key>
		<string>狮子座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>处女座</key>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=chunv</string>
		<key>Title</key>
		<string>处女座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>天秤座</key>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=tiancheng</string>
		<key>Title</key>
		<string>天秤座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>天蝎座</key>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=tianxie</string>
		<key>Title</key>
		<string>天蝎座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>射手座</key>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=sheshou</string>
		<key>Title</key>
		<string>射手座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>摩羯座</key>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=mojie</string>
		<key>Title</key>
		<string>摩羯座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>水瓶座</key>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shuiping</string>
		<key>Title</key>
		<string>水瓶座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>双鱼座</key>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=shuangyu</string>
		<key>Title</key>
		<string>双鱼座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>金牛座</key>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=jinniu</string>
		<key>Title</key>
		<string>金牛座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
	<key>白羊座</key>
	<dict>
		<key>Icon</key>
		<string></string>
		<key>Url</key>
		<string>http://www.idreems.com/openapi/aster.php?type=baiyang</string>
		<key>Title</key>
		<string>白羊座</string>
		<key>TimeSpan</key>
		<string></string>
	</dict>
</dict>
</plist>
